.shadow {
	background-color: #EBEBEB;
	padding-bottom: 5%;
}

.question {
	border-bottom: 1px solid #438BC3;
}

.error {
	color: red;
}

.success {
	color : green;
}

.parsley-error {
	background-color: #F6AEAE;
}

.message {
	border-bottom: 1px solid #438BC3;
}

.questionList {
	border-style: solid none;
	border-width: 1px;
	border-color: #BAB9B9;
}

.quizzes, .groups, .users{
	padding: 5%;
}

.groupForm {
	padding-bottom: 0;
	border-bottom: 1px solid #BAB9B9;
}